<!--::::Pie de Pagina::::::-->
<link rel="stylesheet" href="template/css/pie.css">

<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <img src="../images/logo-cir.png" alt="Safety Footprint Logo" >
            </figure>
        </div>
        <div class="box">
            <h2>PORQUE SAFETY</h2>
            <a href="">
                <p>AVISO DE PRIVACIDAD</p>
            </a>
            <a href="">
                <p>TÉRMINOS Y CONDICIONES DE USO</p>
            </a>
            <a href="">
                <p>POLÍTICAS DE ENVÍOS Y DEVOLUCIONES</p>
            </a>
            <a href="">
                <p>MÉTODOS DE PAGO</p>
            </a>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook">
                    <img src="../images/fb_icon.svg">
                </a>
                <a href="#" class="fa fa-instagram">
                    <img src="../images/instagram_icon.svg">
                </a>
                <a href="#" class="fa fa-whatsapp">
                    <img src="../images/whatsapp_icon.svg">
                </a>
                <a href="#" class="fa fa-gmail">
                    <img src="../images/gmail_icon.svg">
                </a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2024 <b>Safety FootPrint</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>